/targets
/build*
/.vs
/.vscode
CppBuild.lock
/deps
/install*
/pkg
/cmake-build-debug
*.swp
*.log
*.pro
*.pro.user
*.mdb
.idea
i_*

!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json
xcuserdata/
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
project-f